<h1>Liste des associés</h1>
<div class="box-body no-padding container">
    <ul class="users-list2 list-inline row">
        <li ng-repeat="partner in partners" class="list-inline col-md-2">
            <img src="{{ user_image_resize_dir }}{% verbatim %}{{partner.photo}}{%endverbatim%}" alt="User Image">
            <a class="users-list-name" href="#">{% verbatim %}{{partner.name}}{%endverbatim%}</a>
            <span class="users-list-date">Today</span>
        </li>

    </ul>
</div>